{% extends 'common/base.html' %}
{% load static %}

{% block title %}Admin Login - Grampanchayat, Koparde{% endblock %}

{% block body_class %} class="login-page"{% endblock %}

{% block header_actions %}
<a href="/" class="btn btn-primary btn-sm" data-lang-key="back_main">Back to Login Options</a>
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-custom">
    <div class="card shadow p-4 login-card-width">
        <div class="card-body">
            <h2 class="card-title text-center mb-4" data-lang-key="admin_login">Admin Login</h2>
            
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="{{ form.username.id_for_label }}" class="form-label" data-lang-key="login_username">Username</label>
                    {{ form.username }}
                    {% if form.username.errors %}
                        <div class="text-danger">
                            {% for error in form.username.errors %}
                                <small>{{ error }}</small>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="{{ form.password.id_for_label }}" class="form-label" data-lang-key="login_password">Password</label>
                    {{ form.password }}
                    {% if form.password.errors %}
                        <div class="text-danger">
                            {% for error in form.password.errors %}
                                <small>{{ error }}</small>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary w-100" data-lang-key="login_button">Login</button>
            </form>
            

        </div>
    </div>
</div>
{% endblock %}