{% extends 'base.html' %}

{% block title %}Home - Gram Panchayat Portal{% endblock %}

{% block content %}
<br>

<div class="max-w-3xl mx-auto">
    <div class="bg-white p-6 md:p-10 rounded-lg shadow-md fancy-box text-center">
        <br>
        <h1 class="text-4xl md:text-5xl font-extrabold mb-4">Welcome to the Gram Panchayat Portal</h1>
        <p class="text-lg md:text-xl text-gray-700 mb-6">
          कोपर्डे हे सातारा तालुका, सातारा जिल्ह्यातील एक गाव आहे. गावाची लोकसंख्या सुमारे 1,806 असून साक्षरता दर 90% पेक्षा अधिक आहे. येथील प्रमुख व्यवसाय शेती असून बहुसंख्य नागरिक शेतकरी व शेतमजूर आहेत. सातारा शहराजवळ असल्यामुळे गावाला चांगली रस्ता व बस दळणवळण सुविधा उपलब्ध आहे."
        </p>
        <br>
    </div>
    <br>

    <main class="py-10 px-4 md:px-8">
        <div class="image-slider-container fancy-box mb-4">
            <div class="slide">
                <img src="/static/images/1.jpeg" alt="A group of people discussing community projects">
            </div>
            <div class="slide active">
                <img src="/static/images/2.jpeg" alt="Digital services in a village setting">
            </div>
            <div class="slide">
                <img src="/static/images/3.jpeg" alt="A person using a computer to access public records">
            </div>
            <div class="slide">
                <img src="/static/images/4.jpeg" alt="A person using a computer to access public records">
            </div>
            <div class="slide">
                <img src="/static/images/5.jpeg" alt="A person using a computer to access public records">
            </div>
            <div class="slide">
                <img src="/static/images/6.jpeg" alt="A person using a computer to access public records">
            </div>
        </div>

        <br> 
      
    </main>
</div>
{% endblock %}